@import "bootstrap/scss/bootstrap";

// make react-toastify more bootstrapp-y
@import "toastify";

hr {
	margin-top: 3rem;
	margin-bottom: 3rem;
}

.table-responsive + hr {
	margin-top: 2rem;
}

#global-loading-spinner {
	position: fixed;
	top: 4.5rem;
	right: 4.5rem;
	z-index: 1;
}

.sortable {
	cursor: pointer;
	user-select: none;
}
