@import "bootstrap/scss/bootstrap";

hr {
	margin-top: 3rem;
	margin-bottom: 3rem;
}

ul {
	background-color: $gray-800;
	padding-top: 1.5rem;
	padding-bottom: 1.5rem;
}

li {
	margin-left: 1.75rem;
	margin-right: 1.75rem;
}
