@import "bootstrap/scss/bootstrap";

// Make react-toastify more bootstrap-y
@import "toastify";

h1, h2, h3, h4, h5, h6 {
	margin-bottom: 0.5em;
}

#global-loading-spinner {
	position: fixed;
	top: 4.5rem;
	right: 4.5rem;
	z-index: 2;
}

.modal {
	.modal-title {
		margin-bottom: 0;
	}
}

.todolist {
	margin-bottom: 1.5rem;

	.list-group-item {
		display: flex;
		justify-content: space-between;
		align-items: center;

		&.completed {
			.todo-title {
				color: $success;
				font-style: italic;
				text-decoration: line-through;
			}
		}
	}
}

.buttons > * {
	margin-right: 0.5rem;

	&:last-child {
		margin-right: 0;
	}
}
